html,
body {
    overscroll-behavior-y: none;
    margin: 0;
}

.prevent-auto-zoom,
.prevent-auto-zoom * {
    font-size: 16px !important;
}

@font-face {
    font-family: "IBMPlexSansKR";
    src: url("assets/fonts/IBMPlexSansKR-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR";
    src: url("assets/fonts/IBMPlexSansKR-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR";
    src: url("assets/fonts/IBMPlexSansKR-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR";
    src: url("assets/fonts/IBMPlexSansKR-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR";
    src: url("assets/fonts/IBMPlexSansKR-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

* {
    font-size: 14px;
    font-family: "IBMPlexSansKR", sans-serif;
}

.common-border-radius {
    border-radius: 6px;
}

.font-monospace-code, .font-monospace-code * {
    font-family: Monaco, Menlo, Consolas, Bitstream Vera Sans Mono, monospace !important;
}

.font-monospace-only-code code, .font-monospace-only-code code * {
    font-family: Monaco, Menlo, Consolas, Bitstream Vera Sans Mono, monospace !important;
}
